@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Montserrat&display=swap');

* { 
    margin: 0; 
    padding: 0; 
    outline: 0; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    font-family: Montserrat;
}

html,
body {
  overflow-x: hidden;
}

main {
    @include size-main;
    background: url('../images/image-base.svg') no-repeat left $BACKGROUND-COLOR-BASE;
}

a, h1 {
  color: $PRIMARY;
}

input {
  color: $SECONDARY;
}
