.signIn {
    display: flex;
    flex-direction: column;
    padding-top: 220px;
    font-size: 12px;
    line-height: 15px;

    .signIn-logo {
        width: 205.24px;
        height: 42px;
    }

    .signIn-header {
        margin-top: 40px;
        padding: 40px 0 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-title {
            font-weight: normal;
            font-size: 32px;
            line-height: 39px;
        }

        .header-link {
            font-weight: 600;
        }
    }

    .signIn-form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-link {
            position: absolute;
            right: 0px;
            top: 135px;
        }
    }
}
